<div>
<h2>New Book</h2>
  <div class="create">
    <%= form_with model: book do |f| %>　<!--部分テンプレ化する上で、User#showで表示させるには一体どうしたら・・・-->
    <div>
      <%= f.label :Title %>
      <%= f.text_field :title  %>
    </div>
    <div>
      <%= f.label :body %>
      <%= f.text_area :body %></br>
    </div>
      <%= f.submit 'Create Books'%>
  </div>
    <% end %>
