<body>
<div class= "container px-5 px-sm-0">
  <!--バリデーションエラーの表示（これがやりたかった）-->
  <% if @book.errors.any? %>
  <div class="alert alert-warning">
  <%= @book.errors.count %> errors prohibited this book from being saved:
    <ul>
      <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class = "row">
  <!--ｻｲﾄﾞﾊﾞｰ-->
  <div class = "col-md-3">
    <div class="user_info">
      <h2>User Info</h2>
        <%= image_tag @user.get_profile_image(100,100) %>  <!--ﾕｰｻﾞｰの画像-->
        <table class="table">
          <tbody><tr></tr>
          <tr>
        	  <th>name</th>
        	  <th><%= @user.name %></th>
          </tr>
          <tr>
        	  <th>introduction</th>
        	  <th><%= @user.introduction %></th>
          </tr>
          </tbody>
        </table>
        <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
    </div>
<br>

    <div class="new_book">
      <h2>New book</h2>
        <%= form_with model: @book do |f| %>

          <div>
            <label for="inputTitle">Titel</label><br>
              <%= f.text_field :title, autofocus: true, id:"inputTitle" %>
          </div>
          <div>
            <label for="inputOpinion">Opinion</label><br>
              <%= f.text_area :body %><br>
              <%= f.submit 'Create Books', class: "btn btn-success"%>
          </div>
        <% end %>
    </div>
  </div>

  <!--メインコンテンツ-->
  <div class="col-md-8 offset-md-1">
    <div class="books_index">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th width="10%"></th>
            <th width="20%">Title</th>
            <th width="60%">Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @books.each do |book| %>
              <td><%= image_tag book.user.get_profile_image(80,80) %><br>
                  <%= link_to book.user.name, user_path(book.user.id) %></td>
              <td><%= link_to book.title, book_path(book.id) %></td>
              <td><%= book.body %></td>
              <% if book.user.id == current_user.id %>
                <td><%= link_to 'Edit', edit_book_path(book.id), {class: "btn btn-success"} %></td>
                <td><%= link_to 'Destroy', book_path(book.id), {method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-danger"} %></td>
              <% else %>
                <td colspan="2"></td>
              <% end %>
              <td><%= book.created_at %></td>
          </tr>
            <% end %>
              <%= paginate @books %>
        </tbody>
      </table>
    </div>
  </div>

  </div>
</div>
</body>
