<h2>New Book</h2>
  <div class="create">
    <%= form_with model: @books do |f| %>
    <div>
      <%= f.label :Title %>
      <%= f.text_field :title  %>
    </div>
    <div>
      <%= f.label :Opinion %>
      <%= f.text_area :opinion %></br>
    </div>
      <%= f.submit 'Create Books'%>
  </div>
    <% end %>