<body>
<div class= "container px-5 px-sm-0">
  <div class = "row">
    <!--ｻｲﾄﾞﾊﾞｰ-->
    <div class = "col-md-3">
    <%= render partial: 'shared/sidebar', locals: { user: @user, book: @book, books: @books } %>
    </div>

    <!--メインコンテンツ-->
    <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
          <th width="10%"></th>
          <th width="20%">Title</th>
          <th width="60%">Opinion</th>
          <th colspan="3"></th>
          </tr>
        </thead>
        <tbody> <!--いったん@booksを解除する20:08-->
          <tr>
          <td><%= image_tag @user.get_profile_image(80,80) %><br>
              <%= link_to @user.name, user_path(@user.id) %></td>
          <td><%= link_to @books.title, book_path(@books.id) %></td>
          <td><%= @books.body%></td>
            <% if @user.id == current_user.id %>
            <td><%= link_to 'Edit', edit_book_path(@books.id), class: "btn btn-success" %></td>
            <td><%= link_to 'Destroy', book_path(@books.id), {method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-danger"} %></td>
            <% end %>
          </tr>
        </tbody>
      </table>

</body>