<!--フラッシュの表示-->
<% flash.each do |key, value| %>
  <div class="flash"<%= key %>>
    <%= value %>
<% end %>

<div class= "container px-5 px-sm-0">
<div class = "row">
  <!--ｻｲﾄﾞﾊﾞｰ-->
  <div class = "col-md-3">
  <%= render partial: 'shared/sidebar', locals: { user: @user, book: @book, books: @books } %>
  </div>

  <!--メインコンテンツ-->
  <div class="col-md-9"> <!--col-md-8 offset-1 px-sm-15-->
  <h2>Book detail</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th class="w-10 p-1"></th>
          <th class="w-20 p-1">Title</th>
          <th class="w-70 p-1">Opinion</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%#= image_tag @user.get_profile_image(100,100) %></td>
          <td><%= @books.title %></td>
          <td><%= @books.body %></td>
          <% if @books.user.id == current_user.id %>
          <td><%= link_to 'Edit', edit_book_path(@books.id) %></td>
          <td><%= link_to 'Destroy', book_path(@books.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>